@font-face {
  font-family: Markazi;
  src: url(../Project-2/assets/fonts/MarkaziText-Roman-VF.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eaeaea;
    overflow: hidden;
    --color1: #ffffff;
    --color2: rgba(0,0,0,0.5);
    --color3: rgba(0,0,0,0.9);
}

.flex-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

#LS_Logo{
    width: 500px;
}

.flex-container .slide .BGimage{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 5px 5px #301d00;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .BGimage:nth-child(1),
.slide .BGimage:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .BGimage:nth-child(3){
    left: 50%;
}
.slide .BGimage:nth-child(4){
    left: calc(50% + 220px);
}
.slide .BGimage:nth-child(5){
    left: calc(50% + 440px);
}
.slide .BGimage:nth-child(6){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(7){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(8){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(9){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(10){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(11){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(12){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(13){
    left: calc(50% + 660px);
}
.slide .BGimage:nth-child(14){
    left: calc(50% + 660px);
}

/* here n = 0, 1, 2, 3,... */
.slide .BGimage:nth-child(n + 14){
    left: calc(50% + 660px);
    opacity: 0;
}

.BGimage .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: Markazi;
    display: none;
}

.weapon{
    font-size: 30px;
}

.description{
    font-size: 20px;
}

.slide .BGimage:nth-child(2) .content{
    display: block;
}


.content .weapon{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .description{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

.bar .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    background-color: var(--color2);
    padding: 12px 20px;
}

.bar .logo img{
    width: 40px;
}

.bar .menu{
    display: flex;
}

.bar .menu li{
    padding-left: 30px;
}

.bar .menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 015s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.bar .menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.bar .menu li a:hover:after{
    width: 100%;
}

.bar .open-menu , .bar .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.bar .open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.bar .close-menu{
    top: 20px;
    right: 20px;
}

.bar #check {
    display: none;
}

@media(max-width: 610px){
    .bar .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color3);
        transition: all 0.2s ease-in-out;
    }
    .bar .menu li{
        margin-top: 40px;
    }
    .bar .menu li a{
        padding: 10px;
    }
    .bar .open-menu , .bar .close-menu{
        display: block;
    }
    .bar #check:checked ~ .bar .menu{
        right: 0;
    }
}